<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Login Page</title>

    <!-- External CSS -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css"
      integrity="sha512-YWzhKL2whUzgiheMoBFwW8CKV4qpHQAEuvilg9FAn5VJUDwKZZxkJNuGM4XkWuk94WCrrwslk8yWNGmY1EduTA=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css"
      type="text/css"
    />

    <!-- APP CSS -->
    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="/styles/main.css" type="text/css" />
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
    <link rel="stylesheet" href="/styles/header.css" type="text/css" />
    <link rel="stylesheet" href="/styles/login_view.css" type="text/css" />
    <link rel="stylesheet" href="/styles/maplist.css" type="text/css" />

    <!-- External JS -->
    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>

    <!-- App JS -->
    <script type="text/javascript" src="/scripts/app.js"></script>
    <script type="text/javascript" src="/scripts/maplist.js"></script>
  </head>

  <body>
    <!-- Pulling in nav bar -->
    <%- include('./partials/header'); %>
    <h1 class="title">All Maps</h1>

    <main>
      <% for(let object of maplistObject) { %>

      <div class="maplistContainer">
        <img src="<%= object.pic_url %>" wdith="200" height="200" />
        <div class="maplistInfo">
          <p>Map Name: <%= object.name %></p>
          <p>Description: <%=object.description %></p>
          <p>Category: <%=object.category %></p>
          <button onclick="location.href='/viewmap/<%= object.id %>';" >View Map</button>
        </div>
        <div>
          <h1><%= object.name %>:</h1>
          <form class="form-inline favorite-form">
            <input type="hidden" name="mapId" value="<%= object.id %>" />
            <% if(object.favorited) { %>
            <button type="submit" class="unfavButton">unfavorite</button>
            <% } else { %>
            <button type="submit" class="favButton">favorite</button>
            <% } %>
          </form>
        </div>
      </div>
      <% } %>
    </main>
  </body>
</html>
