<!DOCTYPE html>
<html lang="en">

<head>
  <title>Home Page</title>

  <!-- External CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css" integrity="sha512-YWzhKL2whUzgiheMoBFwW8CKV4qpHQAEuvilg9FAn5VJUDwKZZxkJNuGM4XkWuk94WCrrwslk8yWNGmY1EduTA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css" type="text/css" />

  <!-- APP CSS -->
  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
  <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
  <link rel="stylesheet" href="/styles/main.css" type="text/css" />
  <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
  <link rel="stylesheet" href="/styles/header.css" type="text/css" />
  <link rel="stylesheet" href="/styles/profile_view.css" type="text/css" />

  <!-- External JS -->
  <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>

  <!-- App JS -->
  <script type="text/javascript" src="/scripts/app.js"></script>
</head>

<body>
  <!-- Pulling in nav bar -->
  <%- include('./partials/header'); %>

  <main>

  <div id="about">
    <img src="/images/profile-hex.png">
    <div>
      <h2><%=  user_email %></h2>
      <p>Hello Everyone!! This app is amazing. Looking for a good place to eat is not the most enjoyable task. With this app I have access to hundreds of lists of great spots hand selected by users. I can't wait to select my next place to eat and share with you the maps I create of my top restaurants.</p>
    </div>
  </div>

  <section id='lists'>
    <div id='profile_favorites'>
      <h2>Favorite Maps</h2>
      <div class='list'>
      <ol>
      <% for(let fav_map of fav_maps) { %>
        <li><%= fav_map.name %></li>
      <% } %>
      </ol>
    </div>
    </div>

    <div id='profile_mymaps'>
      <h2>Maps Created</h2>
      <div class='list'>
        <ol>
          <% for(let created_map of created_maps) { %>
            <li><%= created_map.name %> <a href="../map/edit/<%= created_map.id %>">EDIT MAP</a></li>
          <% } %>
        </ol>
      </div>
    </div>
  </section>


  </main>
</body>

</html>
